.my-name{
    font-family: 'Play Display';
    width: 220px;
    font-size: 50px;
    margin-left: 16px;
    font-weight: 400;
    font-style: normal;
    border: solid red;

}
.contain{
    display: flex;
    border: solid 10px red;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    
}
.upper{
    display: flex;
    flex-direction: row-reverse;
    border: solid red;
    flex-wrap: wrap;
    justify-content: center;}
.image{
    width: 10%;
    border: solid red;
    padding: 50px;
}
   