.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: auto;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .upper {
    background-image: url("./assests/images/image_geometry_1.png");
    background-color: white;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    justify-content: end;
    margin-top: 0;
    padding-bottom: 30px;
  }

  .image {
    width: 28px;
    height: 20px;
    align-content: center;
    align-self: auto;
    margin-right: 16px;
    margin-top: 19px;
    cursor: pointer;
  }

  .image2 {
    display: none;
    width: 28px;
    height: 20px;
    align-content: center;
    align-self: auto;
    margin-right: 16px;
    margin-top: 19px;
    cursor: pointer;
  }

  .navigator {
    display: none;
  }

  .menu-open {
    display: flex;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 220px;
    background-image: url("./assests/images/image_geometry_menu_2.svg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .upper-menu-open {
    background-image: url("./assests/images/image_geometry_menu_1.svg");
    background-position: top left;
    background-size: 80%;
    flex-direction: column;
  }

  .image-menu-open {
    display: none;
  }

  .image-menu-appear {
    display: block;
    align-self: flex-end;
  }

  .nav-link {
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #1a2236;
  }
}

@media screen and (min-width: 768px) {
  .upper {
    background-color: white;
    height: 160px;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .image {
    display: none;
  }

  .image2 {
    display: none;
  }

  .navigator {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  .navigator > a {
    display: block;
    font-family: "Poppins", sans-serif;
    color: #1a2236;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    padding-top: 38px;
    text-decoration: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

.my-name {
  font-family: "Playfair Display", serif;
  width: auto;
  height: 100px;
  font-size: 50px;
  margin-left: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #1a2236;
}

.button,
.button::before {
  min-width: 288px;
  min-height: 70px;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  background-color: #1a2236;
  transition: background-color 0.5s, border 0.5s;
}

.button:hover {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 3px;
  box-sizing: border-box;
}

.button:focus {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 1px;
  box-sizing: border-box;
}

.paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: auto;
  height: 126px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin-left: 16px;
}

.lower {
  background-image: url("./assests/images/image_geometry_2.png");
  background-position: center;
  padding: 20%;
  margin-top: 32px;
  background-color: white;
  height: 160px;
  background-repeat: repeat-x;
  animation: slidein 5s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hello-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-image: url(./assests/images/image_dots.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-left: 100px;
  }

  .lower {
    background-image: url("./assests/images/Thur.png");
    background-position: center;
    padding: 38%;
    background-repeat: repeat-x;
    margin-top: 32px;
    background-color: white;
    min-height: 450px;
  }

  .my-name {
    font-size: 80px;
    padding-right: 15px;
    margin-top: 15%;
    margin-bottom: 50px;
  }

  .paragraph {
    padding-right: 30px;
    font-size: 14px;
    margin-top: 90px;
  }

  .button {
    margin-left: 16px;
    align-self: flex-start;
  }
}

.header-project {
  margin-top: 20px;
  margin-bottom: 16px;
  height: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 100%;
  font-style: normal;
  padding-bottom: 32px;
}

.project {
  display: grid;
  grid-template-rows: auto auto;
}

.image-project {
  height: 100%;
  width: 100%;
  background-color: #1a2236;
}

.name-project {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: white;
  background-color: #1a2236;
}

.lang-group {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
  margin-bottom: 20px;
  padding-inline-start: 0;
  list-style: none;
}

.lang-project {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  font-style: normal;
  color: #1a2236;
  background-color: #98dede;
  height: 20px;
  border: none;
  min-width: 40px;
  text-align: center;
  padding-top: 10px;
}

.details-project {
  background-color: #1a2236;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding-left: 20px;
}

.button-project,
.button-project::before {
  width: 288px;
  height: 50px;
  top: 402px;
  align-self: flex-start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  background-color: #1a2236;
  border: 0.33px solid white;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  transition: background-color 0.5s, color 0.5s;
}

.button-project:hover {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 3px;
  box-sizing: border-box;
}

.button-project:focus {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 1px;
  box-sizing: border-box;
}

.button-project768 {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-project {
    transform: rotate(270deg);
    padding-left: 20px;
    font-weight: 600;
    font-size: 85px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-image: url(./assests/images/image_dots.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    grid-area: projects;
  }

  .project {
    grid-template-columns: 16.2% 16.1% 17.7% 17.7% 16.1% 16.2%;
    grid-template-rows: auto 270px 270px 270px 270px;
    grid-template-areas:
      "projects projects project1 project1 project1 project1"
      "project3 project3 back1 back1 project6 project6"
      "project2 project2 project2 . project5 project5 "
      "project2 project2 project2  . back2 back2  "
      "back3 . back4 project4 project4 .";
    margin-top: 120px;
    gap: 0;
  }

  .back1 {
    background-image: url(./assests/images/image-geometry_2.svg);
    background-repeat: no-repeat;
    background-position: top left;
    grid-area: back1;
    padding: 70%;
  }

  .back2 {
    background-image: url(./assests/images/image-geometry_3.svg);
    background-repeat: no-repeat;
    background-position: top right;
    grid-area: back2;
    padding-top: 70%;
  }

  .back3 {
    background-image: url(./assests/images/image-geometry_5.svg);
    background-repeat: no-repeat;
    background-position: left top;
    grid-area: back3;
    padding-top: 90%;
  }

  .back4 {
    background-image: url(./assests/images/image-geometry_4.svg);
    background-repeat: no-repeat;
    background-position: right top;
    grid-area: back4;
    padding-top: 90%;
  }

  .project1 {
    grid-area: project1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .project2 {
    grid-area: project2;
  }

  .project3 {
    grid-area: project3;
  }

  .project4 {
    grid-area: project4;
  }

  .project5 {
    grid-area: project5;
  }

  .project6 {
    grid-area: project6;
  }

  .details-project {
    justify-content: space-around;
  }

  #name-project1 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  #lang-project1,
  #lang-project2,
  #lang-project3 {
    font-size: 20px;
    padding: 10px;
  }

  #lang-group1 {
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: auto;
    gap: 5%;
    margin-top: 0;
  }

  .button-project {
    display: none;
  }

  .button-project768,
  .button-project768::before {
    width: 288px;
    height: 50px;
    top: 402px;
    align-self: flex-start;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1a2236;
    background-color: white;
    border: 0.33px solid #1a2236;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
  }

  .button-project768:hover {
    color: white;
    background-color: #1a2236;
    border: solid white 3px;
    box-sizing: border-box;
  }

  .button-project768:focus {
    color: white;
    background-color: #1a2236;
    border: solid white 1px;
    box-sizing: border-box;
  }

  .image-project1,
  .image-project2,
  .image-project3,
  .image-project4,
  .image-project5,
  .image-project6 {
    height: 100%;
    width: 100%;
  }

  .project2,
  .project3,
  .project4,
  .project5,
  .project6 {
    display: grid;
  }

  #details-project1,
  #details-project2,
  #details-project3,
  #details-project4,
  #details-project5,
  #details-project6 {
    display: none;
  }

  .project1:hover {
    grid-template-columns: 50% 50%;
  }

  .project2:hover,
  .project3:hover,
  .project4:hover,
  .project5:hover,
  .project6:hover {
    grid-template-rows: 20% 80%;
  }

  .project1:hover #details-project1,
  .project2:hover #details-project2,
  .project3:hover #details-project3,
  .project4:hover #details-project4,
  .project5:hover #details-project5,
  .project6:hover #details-project6 {
    display: block;
  }

  #image-project3 {
    grid-area: project3;
  }
}

.about-header {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.cv-button,
.cv-button::before {
  width: 100%;
  height: 50px;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  background-color: #1a2236;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.cv-button:hover {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 3px;
  box-sizing: border-box;
}

.cv-button:focus {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 1px;
  box-sizing: border-box;
}

#cv-span {
  padding-left: 20px;
}

.languages {
  height: 289px;
  width: 100%;
  background-image: url("./assests/images/icon-lang.png");
  background-color: #1c528a;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.lang-header {
  height: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
}

.languages > ul {
  list-style: inside;
  height: 135px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: white;
}

.frameworks {
  height: 289px;
  width: 100%;
  background-image: url("./assests/images/ic_framework.svg");
  background-color: #e2505c;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.frame-header {
  height: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
}

.frameworks > ul {
  list-style: inside;
  height: 135px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: white;
}

.skills {
  height: 289px;
  width: 100%;
  background-image: url("./assests/images/ic_skills.svg");
  background-color: #febf52;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.skills-header {
  height: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 40px;
}

.skills > ul {
  list-style: inside;
  height: 135px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: white;
}

@media screen and (min-width: 768px) {
  .about-package {
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 100px;
  }

  .package {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 20%;
    margin-right: 50px;
  }

  .languages,
  .frameworks,
  .skills {
    height: auto;
  }

  .skills {
    margin-top: 0;
  }

  .package-background {
    background-image: url(./assests/images/image_dots_with_teal.png);
    background-repeat: no-repeat;
  }

  .about-container {
    padding-left: 0;
    margin-right: 24%;
  }

  .about-header {
    font-size: 80px;
    margin-bottom: 25px;
    font-weight: 600;
  }

  .about-paragraph {
    padding-right: 20%;
  }

  .cv-button {
    max-width: 50%;
  }

  .skills-header,
  .lang-header,
  .frame-header {
    font-size: 18px;
  }

  .skills > ul,
  .frameworks > ul,
  .languages > ul {
    font-size: 15px;
  }
}

.contact {
  height: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9fa;
  background-image: url(./assests/images/image_geometry_1.png);
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 50px;
  width: auto;
}

.contact-header {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #1a2236;
}

.contact-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.contact-form {
  margin-top: 14px;
}

.contact-form > ul {
  list-style: none;
  padding-inline-start: 0;
}

.contact-form > ul > li {
  display: flex;
  flex-direction: column;
  border: solid #dfdfe0 1px;
  margin-top: 8px;
  margin-right: 14px;
}

.contact-form > ul > li:focus-within {
  border: solid #1a2236 1px;
  border-radius: 4px;
}

textarea,
textarea::before {
  height: 150px;
  border: solid #dfdfe0 1px;
  padding: 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

textarea:focus {
  border: 1px solid #1a2236;
  border-radius: 4px;
  box-sizing: content-box;
}

input {
  border: none;
  padding-left: 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

input:focus {
  border: #1a2236 1px solid;
  box-sizing: content-box;
}

label {
  height: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  padding-left: 16px;
  background-color: white;
}

#li-btn {
  border: none;
}

#ms-lb {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./assests/images/image-geometry_6.png);
    background-repeat: no-repeat;
    background-position: left top;
  }

  .introduction-contact {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". header header header ."
      ". paragraph paragraph paragraph .";
  }

  .contact-header {
    grid-area: header;
    font-size: 90px;
    text-align: center;
    margin-bottom: 30px;
  }

  .contact-paragraph {
    grid-area: paragraph;
    font-size: 20px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .contact-form > ul {
    display: grid;
    grid-template-columns: 28% 22% 22% 28%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      ". user email ."
      ". message message . "
      ". message message . "
      ". button button .";
    gap: 10px;
  }

  .user {
    grid-area: user;
    margin-top: 0;
    min-height: 50px;
  }

  #name {
    min-height: 50px;
  }

  .email {
    grid-area: email;
    margin-top: 0;
    min-height: 50px;
  }

  #mail {
    min-height: 50px;
  }

  .message {
    grid-area: message;
  }

  #li-btn {
    grid-area: button;
    display: block;
    text-align: center;
  }

  .contact-form > ul > li {
    border: none;
  }

  .contact-form > ul > li:focus-within {
    border: none;
  }

  label {
    color: black;
    background-color: inherit;
  }

  input {
    border: solid #e0e0e0 1px;
  }

  input :focus {
    border: #252c40 solid 2px;
  }

  textarea {
    border: solid #e0e0e0 1px;
  }

  textarea :focus {
    border: #252c40 solid 2px;
  }

  #ms-lb {
    display: block;
  }

  form {
    background-image: url(./assests/images/image-geometry_7.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-top: 0;
  }
}

.contact-lower {
  background-color: #1a2236;
  height: 300px;
}

.social-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

#teal-link {
  padding-left: 20px;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #92dcdc;
  align-items: baseline;
}

#teal-link > img {
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .social-contact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px;
  }

  .link {
    padding-top: 5%;
    padding-left: 15%;
  }

  .social-media {
    justify-content: center;
  }

  .social-media > a {
    margin-left: 5%;
  }
}
