.my-name {
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  width: 220px;
  height: 100px;
  font-size: 50px;
  margin-left: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #1a2236;
}

  .contain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 320px;
  padding-left: 0;
}

.upper {
  background-image: url('./assests/images/image_geometry_1.png');
  background-color: white;
  background-repeat: no-repeat;
  height: 160px;
  display: flex;
  justify-content: end;
  margin-top: 0;
}

.image {
  width: 28px;
  height: 20px;
  align-content: center;
  align-self: center;
  margin-right: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.button,
.button::before {
  width: 288px;
  height: 50px;
  margin-left: 16px;
  top: 402px;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  background-color: #1a2236;
}

.button:hover {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 3px;
  box-sizing: border-box;
}

.button:focus {
  color: #1a2236;
  background-color: white;
  border: solid #1a2236 1px;
  box-sizing: border-box;
}

.lower {
  background-image: url('./assests/images/image_geometry_2.png');
  background-position: center;
  padding: 20px;
  margin-top: 32px;
  background-color: whitesmoke;
  height: 30%;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 288px;
  height: 126px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin-left: 16px;
}

